* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E0F7FA;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #82C7D9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    height: 100%;
}

.logo {
    font-size: 18px;
    color: #82C7D9;
    padding-left: 30%;
    padding-top: 04%;
    font-family: Arial, sans-serif;
    font-weight: 900;
    background-color: white;
    padding: 10px 55px;
    border-radius: 20px;
    
}

.sidebar nav ul {
    padding-top: 90%;
    list-style: none;

}

.sidebar nav ul li {
    padding-top: 10%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #82C7D9;
    cursor: pointer;
    background-color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
}

.main-content {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}   

header .icons {
    display: flex; 
    gap: 10px; 
}

header .icons span {
    font-size: 25px;
    cursor: pointer;
    padding-left: 20%;
}

header .user-info {
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 900;
    color: #6da8b7;
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.chat-section {
    display: flex;
    gap: 20px;
}

.chat-container {
    flex: 1;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 800px;
}

.chat-header {
    background-color: #82C7D9;
    color: white;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-footer {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
    gap: 10px;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-footer button {
    background-color: #82C7D9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}