* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E0F7FA;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #82C7D9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    height: 100%;
}

.logo {
    font-size: 18px;
    color: #82C7D9;
    padding-left: 30%;
    padding-top: 04%;
    font-family: Arial, sans-serif;
    font-weight: 900;
    background-color: white;
    padding: 10px 55px;
    border-radius: 20px;
    
}

.sidebar nav ul {
    padding-top: 90%;
    list-style: none;

}

.sidebar nav ul li {
    padding-top: 10%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #82C7D9;
    cursor: pointer;
    background-color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
}

.sidebar nav ul li:nth-last-child(2) {
    background-color: #6da8b7; /* Altere para a cor desejada */
}

/* Efeito hover no botão "Agendamento" */
.sidebar nav ul li:nth-last-child(2):hover {
    background-color: #4a8a97; /* Altere para a cor desejada */
}

.main-content {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
}

.main-content {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}   

header .icons {
    display: flex; 
    gap: 10px; 
}

header .icons span {
    font-size: 25px;
    cursor: pointer;
    padding-left: 20%;
}

header .user-info {
    background-color: white;
    padding: 10px 20px;
    border-radius: 200px;
    font-size: 18px;
    font-weight: 900;
    color: #6da8b7;
    display: flex;
    align-items: center; 
    gap: 10px; 
}


.name-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px; 
    gap: 3px; 
}

.name-list a {
    font-size: 45px;
    font-weight: 600;
    color: #82C7D9;
    text-decoration: none;
    padding: 10px 20px;
}

.search-bar {
    height: 55px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-top: -59px;
}

.search-bar input {
    width: 450px;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 10px;
}

.select-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0; 
    margin-left: 230px;
    margin-top: 17px;
    padding: 0 20px; 
}
.select-container label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: gray;
}
.select-container select {
    height: 53px;
    width: 250px;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 10px;
}